<header>
    <div class="wrap"> 
        
      <!--logo & EIP-->
      <section class="logo-eip">
        <div class="logo">
            <a href="#" style="font-family: 微軟正黑體;">
              Design Audit Rise  
            </a>
        </div>
      </section>
      
      <!--個人相關事項-->
      <section class="user" id="secUserInfo"> 
        <span class="dropdown"> 
            <span class="fa fa-user fa-fw"></span>
            <h3><span class="user-name" id="LabLoginName">Homer_Chen(陳威豪)</span></h3>
        </span> 
      </section>
      
    </div>
  </header>